* {
    box-sizing: border-box;
}
/* grid area */
header {
    grid-area: header;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.5em;
    font-weight: 700;
}
.topnav {
    grid-area: topnav;
}
.content {
    grid-area: content;
}
footer {
    grid-area: footer;
    text-align: center;
    padding: 1em;
}
/* inni content */
.a1 {
    grid-area: aside1;
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 300;
}
.a2 {
    grid-area: aside2;
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 300;
}
.art {
    grid-area: article;
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 400;
}
/*grid template area*/
body {
    display: grid;
    grid-gap: 0em;
    grid-template-areas:
    "head" "topmenu"
    "content" "content"
    "foot" "foot";
    max-width: 120em;
    background-color: lightblue;
}
.eg {
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 
    "article aside1"
    "article aside2";
    grid-template-columns: 1.5fr 1fr;
    background-color: rgb(241, 229, 113);
    padding: 1em;
}
.topmenu, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
}
.topmenu li {
    padding: .5em;
}
.li :hover {
    background-color: white;
    color: black;
}
.a {
    padding: 8px;
    font-family: 'Roboto Condensed', sans-serif;
}
.li :active {
    background-color: rgb(241, 229, 113)
}
.upp {
    font-size: 1.1em;
}
.eg {
    grid-area: eg;
}
.ahug {
    grid-area: ahug;
}
.head {
    grid-area: head
}
.foot {
    grid-area: foot
}
.content {
    background-color: rgb(241, 229, 113);
}
.art1 {
    grid-area: article1;
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 400;
}
.asi1 {
    grid-area: aside3;
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 300;
}
.asi2 {
    grid-area: aside4;
    text-align: justify;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 300;
}
.ahug {
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 
    "article1 aside3"
    "article1 aside4";
    grid-template-columns: 1.5fr 1fr;
    background-color: rgb(241, 229, 113);
    padding: 1em;
}
.head {
    display: flex;
    flex-flow: row;
}
.li1 :hover {
    background-color: white;
    color: black;  
}
.li1 :active {
    background-color: rgb(241, 229, 113)
}
.li1 {
    text-align: right;
}
.topmenu {
    grid-area: topmenu;
    background-color: rgb(241, 229, 113)
}